*.pyc
*.swp
.DS_Store
.p
log/
*/config/settings.json
*.log
celstart.sh
celstop.sh
settings_test.py
.idea/
.cache/

*.rdb
*.png

data_api/lib/db.py
data_creator/config/celery_conf.json
data_creator/config/dbconf.json
.coverage
.phutil_module_cache
.coverage
.pytest_cache/
