{%extends parent_template|default:"organizer/base_organizer.html"%}

{%block title%}

{{block.super}}- Update Blog

{%endblock%}


{%block content%}
<div>
    <div>
        <form
            action="{{post.get_update_url}}"
            method = "post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Update Blog</button>
            &nbsp;&nbsp;
            <a href="{{post.get_absolute_url}}">Cancel</a>
        </form>
    </div>
</div>
{%endblock%}