{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title%}
{{block.super}}-{{tag.name}}
{%endblock%}

{%block content %}
<h2> {{tag.name}}<!--name of Tag--></h2>
<ul>
    <li>
        <a href="{{tag.get_delete_url}}">Delete Tag</a>
        &nbsp;;&nbsp;
        <a href="{{tag.get_update_url}}">Update Tag</a>
    </li>
</ul>
<section>
    <h3>
        Startups
    </h3>
    <ul>
    <!--list of startups related to tag-->
        {%for startup in tag.startup_set.all%}
        <li>
            <a href="{{startup.get_absolute_url}}">
                {{startup.name}}
            </a>
        </li>
        {%empty%}
        <li><em>No Startups Available</em></li>
        {%endfor%}
    </ul>
</section>

<section>
    <h3>
        Blog Posts
    </h3>
    <ul>
        {%for post in tag.blog_posts.all%}
        <li>
            <a href="{{post.get_absolute_url}}">
                {{post.title}}
            </a>
        </li>
        {%empty%}
        <li><em>No blog posts Available</em></li>
        {%endfor%}
        <!-- list of posts related to tag -->
    </ul>
</section>
{%endblock%}